

<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="my-3">{{title}}</h1>

        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let skill of skills">
            {{skill}}
          </li>
        </ul>

        <h1 class="my-3">{{diseHead}}</h1>
        <ul class="list-group">
          <li class="list-group-item" 
          *ngFor="let dise of diseases">
              {{dise}}
          </li>
        </ul>

        <h1 class="my-3">{{micro}}</h1>
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let micro of microOrganism">
            {{micro}}
          </li>
        </ul>

        <h1 class="my-3">{{gadget}}</h1>
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let eleGadget of electronicGadgets">
            {{eleGadget}}
          </li>
        </ul>

        <h1 class="my-3">{{pharmacy}}</h1>
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let pharma of pharmaSub">
            {{pharma}}
          </li>
        </ul>
    </div>
  </div>

   <hr>

  <div class="row mt-5">
    <div class="col-md-8 offset-2">
       <h1 class="my-3 text-center">{{table}}</h1>
      <h2 class="my-3">{{stdList}}</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Seriol No</th>
            <th>Name</th>
            <th>Math</th>
            <th>Science</th>
            <th>English</th>
          </tr>
        </thead>
        <tbody *ngFor="let std of studentGrades; let i=index">
          <th>{{i + 1}}</th>
          <th>{{std.name}}</th>
          <th>{{std.math}}</th>
          <th>{{std.science}}</th>
          <th>{{std.english}}</th>
        </tbody>
      </table>

    <hr>

    <h2 class="my-3">{{book}}</h2>

     <table class="table table-bordered">
        <thead>
          <tr>
            <th>Seriol No</th>
           <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody *ngFor="let book of bookCollection; let i=index">
          <th>{{i + 1}}</th>
          <th>{{book.booktitle}}</th>
          <th>{{book.author}}</th>
          <th>{{book.genre}}</th>
          <th>{{book.year}}</th>
        </tbody>
      </table>
      </div>
  </div>
</div>
